@import "compass";
@import "compass/css3/border-radius";

// scss function to lighten with opacity
@function darken($opacity){
    @return rgba(0,0,0,$opacity);
}

// scss function to darken with opacity
@function lighten($opacity){
    @return rgba(255,255,255,$opacity);
}

// scss mixin to make a embossed box
@mixin box-emboss($opacity, $opacity2){
    box-shadow:lighten($opacity) 0 2px 0, inset darken($opacity2) 0 2px 0;
}

// css mixin to make letter press
@mixin letterpress($opacity){
    text-shadow:lighten($opacity) 0 1px 0;
}

// this my theme color
$theme-color: #4e82b7;

body {
	background : {
		color : shade($theme-color, 40%);
	}
	.navbar {
		// needs latest Compass, add '@import "compass"' to your scss
		background-color: #6e6e6e; // Old browsers
		@include filter-gradient(#6e6e6e, #404040, vertical); // IE6-9
		@include background-image(linear-gradient(top, hsl(0,0%,43%) 0%,hsl(0,0%,36%) 40%,hsl(120,11%,2%) 62%,hsl(0,0%,25%) 100%));
		.nav {
			li {
				a {
					color: white;
					&:hover {
						color: lighten(.80);
					}
				}
			}
		}
		.navbar-brand {
			color: white;
		}
	}
}
.carousel-control {
    font-weight: 100;
    text-align: center;
}
.item {
	h4 {
		@include letterpress(.80);
	}
}
.jumbotron {
	@include border-radius(10px);
}
.well {
	@include border-radius(10px);
	@include box-emboss(0.8, 0.05);
	background-color: lighten(.30);
}

 